@font-face {
    font-family: 'Helvetica Neue';
    src: url('../Fonts/Helvetica Neue/HelveticaNeueCyr-Light.eot');
    src: url('../Fonts/Helvetica Neue/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Helvetica Neue/HelveticaNeueCyr-Light.woff') format('woff'),
        url('../Fonts/Helvetica Neue/HelveticaNeueCyr-Light.ttf') format('truetype'),
        url('../Fonts/Helvetica Neue/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}