@font-face {
  font-family: 'Segoe WPN';
  src: url("SegoeWPN.eot");
  src: url("../Fonts/Segoe WPN/SegoeWPN.eot?#iefix") format("embedded-opentype"), url("../Fonts/Segoe WPN/SegoeWPN.woff") format("woff"), url("../Fonts/Segoe WPN/SegoeWPN.ttf") format("truetype"), url("../Fonts/Segoe WPN/SegoeWPN.svg#SegoeWPN") format("svg");
  font-weight: normal;
  font-style: normal; }
