@font-face {
  font-family: 'Helvetica LT Std';
  src: url("../Fonts/HelveticaLT STD/HelveticaLTStd-Roman.eot");
  src: url("../Fonts/HelveticaLT STD/HelveticaLTStd-Roman.eot?#iefix") format("embedded-opentype"), url("../Fonts/HelveticaLT STD/HelveticaLTStd-Roman.woff") format("woff"), url("../Fonts/HelveticaLT STD/HelveticaLTStd-Roman.ttf") format("truetype"), url("../Fonts/HelveticaLT STD/HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman") format("svg");
  font-weight: 500;
  font-style: normal; }
