@font-face {
    font-family: 'Segoe WP';
    src: url('SegoeWP-Light.eot');
    src: url('SegoeWP-Light.eot?#iefix') format('embedded-opentype'),
        url('SegoeWP-Light.woff') format('woff'),
        url('SegoeWP-Light.ttf') format('truetype'),
        url('SegoeWP-Light.svg#SegoeWP-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

