@font-face {
    font-family: 'Segoe WP SemiLight';
    src: url('../Fonts/Segoe WPN - Semi Light/SegoeWP-SemiLight.eot');
    src: url('../Fonts/Segoe WPN - Semi Light/SegoeWP-SemiLight.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Segoe WPN - Semi Light/SegoeWP-SemiLight.woff') format('woff'),
        url('../Fonts/Segoe WPN - Semi Light/SegoeWP-SemiLight.ttf') format('truetype'),
        url('../Fonts/Segoe WPN - Semi Light/SegoeWP-SemiLight.svg#SegoeWP-SemiLight') format('svg');
    font-weight: 300;
    font-style: normal;
}