@font-face {
    font-family: 'Helvetica CE';
    src: url('../Fonts/HelveticaCE Regular/HelveticaCE-Regular.eot');
    src: url('../Fonts/HelveticaCE Regular/HelveticaCE-Regular.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/HelveticaCE Regular/HelveticaCE-Regular.woff') format('woff'),
        url('../Fonts/HelveticaCE Regular/HelveticaCE-Regular.ttf') format('truetype'),
        url('../Fonts/HelveticaCE Regular/HelveticaCE-Regular.svg#HelveticaCE-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

