@font-face {
  font-family: 'Times New Roman';
  src: url("../Fonts/Times New Roman/TimesNewRomanPSMT.eot");
  src: url("../Fonts/Times New Roman/TimesNewRomanPSMT.eot?#iefix") format("embedded-opentype"), url("../Fonts/Times New Roman/TimesNewRomanPSMT.woff") format("woff"), url("../Fonts/Times New Roman/TimesNewRomanPSMT.ttf") format("truetype"), url("../Fonts/Times New Roman/TimesNewRomanPSMT.svg#TimesNewRomanPSMT") format("svg");
  font-weight: normal;
  font-style: normal; }
