@font-face {
    font-family: 'Segoe UI Symbol';
    src: url('../Fonts/Segoe Ul Symbol/SegoeUISymbol.eot');
    src: url('../Fonts/Segoe Ul Symbol/SegoeUISymbol.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Segoe Ul Symbol/SegoeUISymbol.woff') format('woff'),
        url('../Fonts/Segoe Ul Symbol/SegoeUISymbol.ttf') format('truetype'),
        url('../Fonts/Segoe Ul Symbol/SegoeUISymbol.svg#SegoeUISymbol') format('svg');
    font-weight: normal;
    font-style: normal;
}
